@using task6x.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using task6x.Hubs;
@using task6x.Services;
@{
    ViewData["Title"] = "Crocodile";
    string currentUser = ViewBag.CurrentUser;
}
<div class="row preGame">
    <div class="welcomeGame">
        <h3 id="welcomeWords">Welcome to the 'Crocodile' game!</h3>
        <hr/>
        <h6><b>Rules are pretty simple:</b></h6>
        <h6>  ♥ Crocodile choose 1+ categories to draw</h6>
        <h6>  ♥ Crocodile choose the word to draw</h6>
        <h6>  ♥ Crocodile is drawing</h6>
        <h6>  ♥ Other players send their guesses to the chat</h6>
        <h6>  ♥ Crocodile can send a hint in chat</h6>
        <h6>  ♥ Crocodile can't write answer! (it will be censored)</h6>
        <h6>  ♥ The game continues untill a player send the correct answer to the chat</h6>
        <hr/>
        <img id="welcomePic" src="~/img/crocodile/welcome.PNG" />

    </div>
    <div class="preGameChoose">
        @if (currentUser == "admin")
        {
            <div id="categorySection">
                <h3 id="welcomeWords">Please, choose the categories </h3>
                <p id="categories">
                    @foreach (var c in (Category[])Enum.GetValues(typeof(Category)))
                    {
                        <input type="checkbox" value="@c" /> @c
                    }
                </p>
                <button class="btn btn-pink col-md-3" id="sendCategoriesButton">Choose categories</button>
            </div>

            <div id="proposeAnswerSection" style="display: none;">
                <h3 id="welcomeWords">Please, choose the word </h3>
                <h3 id="proposedAnswer"></h3>
                <button class="btn btn-pink col-md-3" id="setAnswerButton">Choose word</button>
                <button class="btn btn-pink col-md-3" id="changeAnswerButton">Try another</button>
            </div>
        }
        else
        {
            <h3 id="welcomeWords">Please, wait while admin choose word to draw.</h3>
            <h5>That will be fun!</h5>
        }
    </div>
    
</div>



<div class="row game" style="display: none;">
    <div class="col-md-7">
        <canvas id='drawingpad' width='400' height='300'></canvas>
        @if (currentUser == "admin")
        {
            <ul id="colors">
                <li style="background-color: black;">black</li>
                <li style="background-color: darkred;">darkred</li>
                <li style="background-color: red;">red</li>
                <li style="background-color: orangered;">orangered</li>
                <li style="background-color: orange;">orange</li>
                <li style="background-color: yellow;">yellow</li>
                <li style="background-color: lawngreen;">lawngreen</li>
                <li style="background-color: green;">green</li>
                <li style="background-color: deepskyblue;">deepskyblue</li>
                <li style="background-color: dodgerblue;">dodgerblue</li>
                <li style="background-color: blue;">blue</li>
                <li style="background-color: darkviolet;">darkviolet</li>
                <li style="background-color: blueviolet;">blueviolet</li>
                <li style="background-color: deeppink;">deeppink</li>
                <li style="background-color: mediumvioletred;">mediumvioletred</li>
                <li style="background-color: darkviolet;">darkviolet</li>
            </ul>
            <div><h3 id="answer"></h3></div>
        }
    </div>
    <div class="chat col-md-5">
        <h5>Chat Messages</h5>
        <div id="messages"></div>
        <div class="row" id="sendMessage">
            <input required id="message" class="col-md-9" placeholder="suggestion" />
            <button class="btn btn-pink col-md-3" id="sendMessageButton">Send</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>


<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Crocodile").build();

    connection.start().then(function () {
        console.log("Connected!");
        if ("@currentUser" == "admin")
        {
            canvas.addEventListener("mousedown", mousedown, false);
            canvas.addEventListener("mousemove", mousemove, false);
            canvas.addEventListener("mouseup", mouseup, false);
        }
    }).catch(function (err) {console.error(err.toString());});

    // Drawing

    var drawGame = { isDrawing: false, startX: 0, startY: 0, };
    var data = { startX: 0, startY: 0, endX: 0, endY: 0 };
    var canvas = document.getElementById('drawingpad');
    var ctx = canvas.getContext('2d');
    var _currentColor = "#444";

    $('#colors li').click(function () {
        _currentColor = $(this).text();
        console.log(_currentColor)
        connection.invoke("SendColor", _currentColor);
    });

    connection.on("addLine", function (data, color) {
        drawLine(ctx, data.startX, data.startY, data.endX, data.endY, 1, color);
    })

    function drawLine(ctx, x1, y1, x2, y2, thickness, color) {
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.lineWidth = thickness;
        ctx.strokeStyle = color;
        ctx.stroke();
    }

    function mousedown(e) {
        var mouseX = e.layerX || 0;
        var mouseY = e.layerY || 0;
        drawGame.startX = mouseX;
        drawGame.startY = mouseY;
        drawGame.isDrawing = true;
    };

    function mousemove(e) {
        if (drawGame.isDrawing) {
            var mouseX = e.layerX || 0;
            var mouseY = e.layerY || 0;
            if (!(mouseX == drawGame.startX &&
                mouseY == drawGame.startY)) {
                drawLine(ctx, drawGame.startX,
                    drawGame.startY, mouseX, mouseY, 1, _currentColor);
                data.startX = drawGame.startX;
                data.startY = drawGame.startY;
                data.endX = mouseX;
                data.endY = mouseY;
                connection.invoke("DrawLine", data); //
                drawGame.startX = mouseX;
                drawGame.startY = mouseY;
            }
        }
    };

    function mouseup(e) {
        drawGame.isDrawing = false;
    }

    // Chat

    $("#sendMessageButton").click(function () {
        var message = $("#message").val();
        connection.invoke("SendMessage", message, "@currentUser");
        $("#message").val("").focus();
    });

    connection.on("ReceiveMessage", function (isAnswer, message, userName) {
        if (userName == "admin") {
            message = isAnswer ? "******" : message;
            var encodedMsg = "<div class='msg'><img src='/img/crocodile/crocodile.png'><p>" + message + "</p></div>"; // (isAnswer ? "******" : message)
        }
        else {
            var encodedMsg = "<div class='msg darker'><p class='right'><b>" + userName + ":</b> " + message + "</p></div>";
        }
        $("#messages").append(encodedMsg);
        $("#messages").animate({ scrollTop: $("#messages").height() }, 'fast');

        if (isAnswer && userName != "admin") {
            $("#messages").html("<h4>User <b>" + userName + "</b> guessed the word \"" + message.toUpperCase() + "\"!</h4>");
            $("#sendMessage").hide();
        }
    })

    // Chose category and word

    $("#sendCategoriesButton").click(function () {
        var checked = [];
        $('#categories input:checkbox:checked').each(function () {
            console.log($(this).val());
            checked.push($(this).val());
        });
        connection.invoke("SendCategories", checked);
        $('#categorySection').hide();
    });

    connection.on("chooseAnswer", function (answer) {
        $('#proposeAnswerSection').show();
        $('#proposedAnswer').text(answer);
    });

    $("#changeAnswerButton").click(function () {
        connection.invoke("ChangeAnswer");
    });

    $("#setAnswerButton").click(function () {
        connection.invoke("SetAnswer");
    });

    connection.on("setAnswer", function (answer) {
        $('.preGame').hide();
        $('.game').show();
        $('#answer').text(answer);
    });
</script>