@using task6x.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "Hangman";
    string currentUser = ViewBag.CurrentUser;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>

<div class="row preGame">
    <div class="welcomeGame">
        <h3 id="welcomeWords">Welcome to the 'Hangman' game!</h3>
        <hr />
        <h6><b>Rules are pretty simple:</b></h6>
        <h6>  ♥ Admin chooses any word</h6>
        <h6>  ♥ Admin enters a hint</h6>
        <h6>  ♥ Player try to guess the word's letters</h6>
        <h6>  ♥ Player can take a hint</h6>
        <h6>  ♥ Player wins after guessing all the letters</h6>
        <h6>  ♥ Player loses after entering the wrong letter 6 times</h6>
        <hr />
        <img id="welcomePic" src="~/img/hangman/0.PNG" />

    </div>
    <div class="preGameChoose">
        @if (@currentUser == "admin")
        {
            <h3 id="welcomeWords">Enter the word and hint:</h3>
            <input required id="word" class="form-w" placeholder="word" />
            <input required id="hint" class="form-w" placeholder="hint" /><br/>
            <button class="btn btn-pink" id="sendWordButton">Start</button>
        }
        else
        {
            <h3 id="welcomeWords">Please, wait while admin enters the word.</h3>
            <h5>That will be fun!</h5>
        }
    </div>
</div>


<div class="row game" style="display: none;">
    <div  class="col-md-4">
        <div id="displayWord"></div>

        <div id="hangman"><img id="hangmanPic" src="~/img/hangman/0.PNG" /></div>
    </div>

    <div class="col-md-8" id="gameProcess">
        <div id="guessLetter">
            @if (@currentUser != "admin")
            {
                <h5>Guess the letter:</h5>
                <ul id="keyboard">
                    <li class="letter">A</li>
                    <li class="letter">B</li>
                    <li class="letter">C</li>
                    <li class="letter">D</li>
                    <li class="letter">E</li>
                    <li class="letter">F</li>
                    <li class="letter">G</li>
                    <li class="letter">H</li>
                    <li class="letter">I</li>
                    <li class="letter">J</li>
                    <li class="letter">K</li>
                    <li class="letter">L</li>
                    <li class="letter">M</li>
                    <li class="letter">N</li>
                    <li class="letter">O</li>
                    <li class="letter">P</li>
                    <li class="letter">Q</li>
                    <li class="letter">R</li>
                    <li class="letter">S</li>
                    <li class="letter">T</li>
                    <li class="letter">U</li>
                    <li class="letter">V</li>
                    <li class="letter">W</li>
                    <li class="letter">X</li>
                    <li class="letter">Y</li>
                    <li class="letter">Z</li>
                </ul>
                <button class="btn btn-pink" id="watchHintButton">Watch a hint</button>
                <div id="hintDisplay" style="display: none;"></div>
            }
            else
            {
                <h3 id="welcomeWords">Another player's tries:</h3>
                <ul id="adminDisplay"></ul>            
            }
        </div>
        <h3 id="result"></h3>
    </div>
</div>


<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Hangman").build();

    $("#sendWordButton").click(function () {
        var word = $("#word").val();
        var hint = $("#hint").val();
        connection.invoke("SendWord", word, hint);
        $("#word").val("");
        $("#hint").val("");
    });

    connection.on("ReceiveWord", function (displayWord) {
        $(".preGame").hide();
        $(".game").show();
        $("#displayWord").text(displayWord);
    });
    //------------------------------------------

    $('#keyboard li').click(function () {
        var letter = $(this).text();
        $(this).attr('id', 'pressed');
        connection.invoke("SendLetter", letter, "@currentUser");
    });

    connection.on("ReceiveLetter", function (isOver, isRight, displayWord, tries, letter, userName) {
        $("#displayWord").text(displayWord);
        $("#pressed").attr('id', isRight ? 'right' : 'wrong');
        $("#adminDisplay").append("<li>" + userName + " chose letter " + letter + ". " + tries + " tries spent.</li>")
        if (isOver) {
            $("#guessLetter").hide();
            $("#result").text(isRight ? `${userName} won. Congratulations!` : `${userName} lost. Better luck next time!`);
        }
        if (!isRight) {
            $('#hangmanPic').attr('src', `/img/hangman/${tries}.PNG`);
        }
    });

    $("#watchHintButton").click(function () {
        connection.invoke("WatchHint");
    });

    connection.on("ReceiveHint", function (hint) {
        $("#hintDisplay").show().text(hint);
    });

    //-------------------------------------------

    connection.start().then(function () {
        console.log("Connected!");
    }).catch(function (err) {
        console.error(err.toString());
    });
</script>