@{
    ViewData["Title"] = "Home";
    string currentUser = ViewBag.CurrentUser;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>

<div class="row preGame">
    <h3 id="welcomeWords">Choose the game and let's go!</h3>
    <hr/>
    <div class="col-md-6 chooseGame">
        <a class="nav-link text-dark" id="crocodile">
            <img id="chooseGamePic" src="~/img/crocodile/choose.png" />
        </a><br />
        <h5>Crocodile</h5>
    </div>

    <div class="col-md-6 chooseGame">
        <a class="nav-link text-dark" id="hangman">
            <img id="chooseGamePic" src="~/img/hangman/choose.PNG" />
        </a><br />
        <h5>Hangman</h5>
    </div>
</div>


<div class="row chooseHangmanRole" style="display: none;">
    <h3 id="welcomeWords">Choose your role!</h3>
    <hr />
    <ul>
        <li class="nav-item">
            <a class="btn btn-pink chooseRole" asp-area="" asp-controller="Home" asp-action="Hangman" asp-route-role="host" asp-route-username="@currentUser">HOST</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-pink chooseRole" asp-area="" asp-controller="Home" asp-action="Hangman" asp-route-role="player" asp-route-username="@currentUser">PLAYER</a>
        </li>
    </ul>
</div>


<div class="row chooseCrocodileRole" style="display: none;">
    <h3 id="welcomeWords">Choose your role!</h3>
    <hr />
    <ul>
        <li class="nav-item">
            <a class="btn btn-pink chooseRole" asp-area="" asp-controller="Home" asp-action="Crocodile" asp-route-role="crocodile" asp-route-username="@currentUser">CROCODILE</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-pink chooseRole" asp-area="" asp-controller="Home" asp-action="Crocodile" asp-route-role="player" asp-route-username="@currentUser">PLAYER</a>
        </li>
    </ul>
</div>


<script>
    $("#hangman").click(function () {
        $(".preGame").hide();
        $(".chooseHangmanRole").show();
    });

    $("#crocodile").click(function () {
        $(".preGame").hide();
        $(".chooseCrocodileRole").show();
    });
</script>