
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgoldenrodyellow;
}

#searchresults {
    margin-top: 20px;
}
.show-border-left {
    width: 350px;
    border-left: 2px dashed lightseagreen;
    margin-bottom: 20px;
    background-color: peachpuff;
    border-radius: 8px;
}
.col-md-3 {
    width: 60px;
    margin-left: 20px;
}

.col-md-7 {
    width: 410px;
    margin-left: 20px;
}
.form-floating-m {
    width: 250px;
    background-color: peachpuff;
    margin-bottom: 5px;
    margin-left: 20%;
    padding: 5px;
}
.btn-pink {
    margin-top: 0;
    color: black;
    background-color: darksalmon;
    border: 2px solid lightseagreen;
}

    .btn-pink:hover {
        color: black;
        background-color: salmon;
    }

.form-w {
    width: 230px;
    margin: 2px;
}

.form-wt {
    width: 230px;
    margin: 2px;
    height: 90px;
}
/*----------------------------*/

#chooseGamePic {
    width: 250px;
}
#chooseGamePic:hover {
    width: 270px;
    cursor: pointer;
}
.chooseGame {
    text-align: center;
    margin: 0;
}
/*----------------------------*/
#watchHintButton {
    float: left;
    width: 174px;
    text-align: center;
    padding-top: 0px;
    margin: 0 5px 5px 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    background-color: peachpuff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

    #watchHintButton:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border: 1px solid #e5e5e5;
        cursor: pointer;
    }

#hintDisplay {
    position: relative;
    padding: 10px;
    text-align: center;
    margin-top: 145px;
    display: block;
    font-size: 20px;
    border: 1px dashed black;
    width: 445px;
    height: 50px;
    border-radius: 10px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 450px;
    text-align: center;
}

    #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 17px;
        background-color: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

        #keyboard li:hover {
            position: relative;
            top: 1px;
            left: 1px;
            border: 1px solid #e5e5e5;
            cursor: pointer;
        }

#wrong {
    background-color: lightsalmon !important;
    pointer-events: none !important;
}

#right {
    background-color: lightgreen !important;
    pointer-events: none !important;
}


#displayWord {
    width: 240px;
    text-align: center;
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 18px;
    letter-spacing: 4px;
    padding: 11px 0px;
    margin-bottom: 10px;
    line-height: 1;
}

    #displayWord:before, #displayWord:after {
        content: "";
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        border-left: 2px solid;
        border-right: 2px solid;
        background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
    }

    #displayWord:before {
        left: 0;
    }

    #displayWord:after {
        right: 0;
    }

@media (max-width: 420px) {
    #displayWord {
        font-size: 2em;
    }
}
#sendWordButton {
    font-size: 20px;
    width: 100px;
}
/*---------------------------------*/
canvas {
    position: relative;
    background-color: white;
    border: 2px solid darksalmon;
    margin-top: 10px;
    margin-left: 0px;
}

.msg {
    width: 255px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px 5px 0px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.msg::after {
    content: "";
    clear: both;
    display: table;
}

.msg img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

.right {
    float: right;
    margin-right: 10px;
}

#messages {
    border: 1px solid gray;
    background-color: peachpuff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 280px;
    height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
    background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
    background-color: #843465;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.chat {
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    background-color: darksalmon;
    align-content: center;
    align-items: center;
    margin: 10px;
}

#message {
    margin: 0 4px 0 12px;
    width: 70%;
}

#sendMessageButton {
    border: 1px dashed black;
    background-color: crimson;
    color: white;
    margin: 0;
    padding: 5px;
    width: 22%;
}

.game {
    background-color: peachpuff;
    width: 785px;
    margin-left: -70px;
    padding: 10px 0;
}

#colors {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 450px;
    text-align: center;
}

    #colors li {
        float: left;
        margin: 0 5px 5px 0;
        width: 20px;
        height: 20px;
        font-size: 0px;
        background-color: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

        #colors li:hover {
            position: relative;
            top: 1px;
            left: 1px;
            border: 1px solid #e5e5e5;
            cursor: pointer;
        }

#sendAnswerButton {
    border: 1px dashed black;
    background-color: crimson;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 0;
    margin-top: -5px;
}

#answer {
    width: 260px;
    height: 35px;
    margin: 5px;
}

#sendCategoriesButton {
    width: 100px;
    margin: 0;
}

#setAnswerButton, #changeAnswerButton {
    margin-top: 20px;
    width: 100px;
    margin-left: 0px;
    margin-right: 10px;
}
.preGameChoose {
    text-align: center;
    font-size: 19px;
    width: 40%;
}
.welcomeGame {
    margin-left: -50px;
    width: 60%;
    border-right: 8px dotted pink;
}
#welcomePic {
    width: 50%;
    margin-left: 20%;
}
#welcomeWords {
    color: crimson;
}
.preGame {
    margin-right: -50px;
}
